python>=3.10
pandas
numpy
geopandas
matplotlib>=3.5
plotly
census
us
fiona
pyproj
shapely
rtree
pathlib
IPython
seaborn
re 
zipfile
shapely.geometry
pyogrio
nbformat>=4.2
folium
mapclassify
scikit_learn
widgetsnbextension
jupyterlab_widgets
ipywidgets